# Data Cleansing for Health Investment

## Set-up

In [ ]:
import pandas as pd
import numpy as np
import os

pd.set_option('display.max_column', None)
pd.set_option('display.float_format', '{:.0f}'.format)

def data_explore(filepath):
    """Explores and prints information about a CSV file."""
    try:
        df = pd.read_csv(filepath, encoding='ISO-8859-1')
    except FileNotFoundError:
        print(f"Error: File not found at {filepath}")
        return None

    print(f"\n\nData dimensions:\n{df.shape}")
    # print(f"\n\nNull values:\n{df.isnull().sum()}")
    return df

# File paths
base_path = "C:/Users/nhien/Downloads/HI/"
provider_files = [f"ProviderInfo_{year}.csv" for year in range(2015, 2022)]
health_deficiency_files = [f"HealthDeficiencies_{year}.csv" for year in range(2015, 2022)]
quality_files = [f"QualityMsrMDS_{year}.csv" for year in range(2015, 2022)]
penalties_files = [f"Penalties_{year}.csv" for year in range(2015, 2022)]

## Cost report files will be imported separately later

## provider_info tables

In [ ]:
def process_provider_csv(df, year):
    """Processes provider information CSV files."""
    required_cols = ["provnum", "provname", "state", "address", "city", "zip", 
                     "ownership", "restot", "overall_rating", 
                     "survey_rating", "quality_rating", "staffing_rating", "adj_total"]
    
    df.columns = df.columns.str.lower()
    
    if year >= 2020:
        column_mapping = {
            "federal provider number": "provnum", 
            "provider name": "provname", 
            "provider state": "state", 
            "provider address": "address", 
            "provider city": "city", 
            "provider zip code": "zip", 
            "ownership type": "ownership", 
            "average number of residents per day": "restot", 
            "overall rating": "overall_rating", 
            "health inspection rating": "survey_rating", 
            "qm rating": "quality_rating", 
            "staffing rating": "staffing_rating", 
            "adjusted total nurse staffing hours per resident per day": "adj_total"
        }
        df.rename(columns=column_mapping, inplace=True)
    
    df = df[required_cols]
    df['year'] = year
    return df


# Process provider data
provider_dfs = []
for year, file in zip(range(2015, 2022), provider_files):
    filepath = os.path.join(base_path, file)
    df = data_explore(filepath)
    if df is not None:
        provider_dfs.append(process_provider_csv(df, year))

# Union
provider_info = pd.concat(provider_dfs, ignore_index=True)

# Ensure provnum is char(6) datatype
provider_info['provnum'] = provider_info['provnum'].astype(str).str.zfill(6)

Data dimensions:
(15661, 79)


Data dimensions:
(15651, 80)

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\1073367527.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\1073367527.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

Data dimensions:
(15646, 80)


Data dimensions:
(15596, 78)

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\1073367527.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\1073367527.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

Data dimensions:
(15471, 85)


Data dimensions:
(15348, 87)

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\1073367527.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\1073367527.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

Data dimensions:
(15264, 88)

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\1073367527.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

In [22]:
# # Check data  
# print(provider_info.shape)
# print(provider_info.info())
# print(provider_info.isnull().sum())

(108637, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108637 entries, 0 to 108636
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   provnum          108637 non-null  object
 1   provname         108637 non-null  object
 2   state            108637 non-null  object
 3   address          108637 non-null  object
 4   city             108637 non-null  object
 5   zip              108637 non-null  int64
 6   ownership        108636 non-null  object
 7   restot           107914 non-null  float64
 8   overall_rating   106945 non-null  float64
 9   survey_rating    107389 non-null  float64
 10  quality_rating   107188 non-null  float64
 11  staffing_rating  104544 non-null  float64
 12  adj_total        104271 non-null  float64
 13  year             108637 non-null  int64
dtypes: float64(6), int64(2), object(6)
memory usage: 11.6+ MB
None
provnum               0
provname              0
state                 0
address               0
city                  0
zip                   0
ownership             1
restot              723
overall_rating     1692
survey_rating      1248
quality_rating     1449
staffing_rating    4093
adj_total          4366
year                  0
dtype: int64

## health_deficiencies table

In [86]:


def process_health_deficiencies_csv(df, year):
    """Processes health deficiencies CSV files."""
    required_cols = ["provnum", "scope"]
    
    df.columns = df.columns.str.lower().str.strip()
    
    if year >= 2020:
        column_mapping = {
            "federal provider number": "provnum", 
            "scope severity code": "scope"
        }
        df.rename(columns=column_mapping, inplace=True)
    
    df = df[required_cols]
    df['year'] = year
    return df


# Process health deficiencies data
health_deficiency_dfs = []
for year, file in zip(range(2015, 2022), health_deficiency_files):
    filepath = os.path.join(base_path, file)
    df = data_explore(filepath)
    if df is not None:
        health_deficiency_dfs.append(process_health_deficiencies_csv(df, year))

# Union
health_deficiency = pd.concat(health_deficiency_dfs, ignore_index=True)

# Add pk for database primary key (provnum & year are foreign keys)
health_deficiency['pk'] = range(1, len(health_deficiency) + 1)

# Encode HD score to number
scope_mapping = {chr(65 + i): i + 1 for i in range(12)}
health_deficiency['scope_num'] = health_deficiency['scope'].map(scope_mapping)
health_deficiency.loc[health_deficiency['year'] == 2021, 'scope_num'] = health_deficiency['scope']

# Ensure provnum is char(6) datatype
health_deficiency['provnum'] = health_deficiency['provnum'].astype(str).str.zfill(6)

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(479167, 18)


Null values:
provnum                  0
Provname                 0
address                  0
city                     0
state                    0
zip                      0
survey_date_output       0
SurveyType               0
defpref                  0
tag                      0
tag_desc                 0
scope                    0
defstat                  0
statdate              7620
cycle                    0
standard                 0
complaint                0
filedate                 0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479167 entries, 0 to 479166
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   provnum             479167 non-null  object
 1   Provname            479167 non-null  object
 2   address             479167 non-null  object
 3   city                479167 non-null  object
 4   state               479167 non-null  object
 5   zip                 479167 non-null  int64
 6   survey_date_output  479167 non-null  object
 7   SurveyType          479167 non-null  object
 8   defpref             479167 non-null  object
 9   tag                 479167 non-null  int64
 10  tag_desc            479167 non-null  object
 11  scope               479167 non-null  object
 12  defstat             479167 non-null  object
 13  statdate            471547 non-null  object
 14  cycle               479167 non-null  int64
 15  standard            479167 non-null  object
 16  complaint           479167 non-null  object
 17  filedate            479167 non-null  object
dtypes: int64(3), object(15)
memory usage: 65.8+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\723232182.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(329324, 18)


Null values:
provnum                  0
Provname                 0
address                  0
city                     0
state                    0
zip                      0
survey_date_output       0
SurveyType               0
defpref                  0
tag                      0
tag_desc                 0
scope                    0
defstat                  0
statdate              3566
cycle                    0
standard                 0
complaint                0
filedate                 0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329324 entries, 0 to 329323
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   provnum             329324 non-null  object
 1   Provname            329324 non-null  object
 2   address             329324 non-null  object
 3   city                329324 non-null  object
 4   state               329324 non-null  object
 5   zip                 329324 non-null  int64
 6   survey_date_output  329324 non-null  object
 7   SurveyType          329324 non-null  object
 8   defpref             329324 non-null  object
 9   tag                 329324 non-null  int64
 10  tag_desc            329324 non-null  object
 11  scope               329324 non-null  object
 12  defstat             329324 non-null  object
 13  statdate            325758 non-null  object
 14  cycle               329324 non-null  int64
 15  standard            329324 non-null  object
 16  complaint           329324 non-null  object
 17  filedate            329324 non-null  object
dtypes: int64(3), object(15)
memory usage: 45.2+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\723232182.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(338451, 18)


Null values:
provnum                  0
Provname                 0
address                  0
city                     0
state                    0
zip                      0
survey_date_output       0
SurveyType               0
defpref                  0
tag                      0
tag_desc                 0
scope                    0
defstat                  0
statdate              2116
cycle                    0
standard                 0
complaint                0
filedate                 0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338451 entries, 0 to 338450
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   provnum             338451 non-null  object
 1   Provname            338451 non-null  object
 2   address             338451 non-null  object
 3   city                338451 non-null  object
 4   state               338451 non-null  object
 5   zip                 338451 non-null  int64
 6   survey_date_output  338451 non-null  object
 7   SurveyType          338451 non-null  object
 8   defpref             338451 non-null  object
 9   tag                 338451 non-null  int64
 10  tag_desc            338451 non-null  object
 11  scope               338451 non-null  object
 12  defstat             338451 non-null  object
 13  statdate            336335 non-null  object
 14  cycle               338451 non-null  int64
 15  standard            338451 non-null  object
 16  complaint           338451 non-null  object
 17  filedate            338451 non-null  object
dtypes: int64(3), object(15)
memory usage: 46.5+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\723232182.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(350887, 19)


Null values:
PROVNUM                     0
PROVNAME                    0
ADDRESS                     0
CITY                        0
STATE                       0
ZIP                         0
SURVEY_DATE_OUTPUT          0
HLTHSRVY_POST20171128       0
SURVEYTYPE                  0
DEFPREF                     0
TAG                         0
TAG_DESC                    0
SCOPE                       0
DEFSTAT                     0
STATDATE                 1524
cycle                       0
Standard                    0
Complaint                   0
FILEDATE                    0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350887 entries, 0 to 350886
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   PROVNUM                350887 non-null  object
 1   PROVNAME               350887 non-null  object
 2   ADDRESS                350887 non-null  object
 3   CITY                   350887 non-null  object
 4   STATE                  350887 non-null  object
 5   ZIP                    350887 non-null  int64
 6   SURVEY_DATE_OUTPUT     350887 non-null  object
 7   HLTHSRVY_POST20171128  350887 non-null  object
 8   SURVEYTYPE             350887 non-null  object
 9   DEFPREF                350887 non-null  object
 10  TAG                    350887 non-null  int64
 11  TAG_DESC               350887 non-null  object
 12  SCOPE                  350887 non-null  object
 13  DEFSTAT                350887 non-null  object
 14  STATDATE               349363 non-null  object
 15  cycle                  350887 non-null  int64
 16  Standard               350887 non-null  object
 17  Complaint              350887 non-null  object
 18  FILEDATE               350887 non-null  object
dtypes: int64(3), object(16)
memory usage: 50.9+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\723232182.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(362931, 19)


Null values:
PROVNUM                  0
PROVNAME                 0
ADDRESS                  0
CITY                     0
STATE                    0
ZIP                      0
SURVEY_DATE_OUTPUT       0
SURVEYTYPE               0
DEFPREF                  0
CATEGORY                 0
TAG                      0
TAG_DESC                 0
SCOPE                    0
DEFSTAT                  0
STATDATE              1701
cycle                    0
Standard                 0
Complaint                0
FILEDATE                 0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362931 entries, 0 to 362930
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PROVNUM             362931 non-null  object
 1   PROVNAME            362931 non-null  object
 2   ADDRESS             362931 non-null  object
 3   CITY                362931 non-null  object
 4   STATE               362931 non-null  object
 5   ZIP                 362931 non-null  int64
 6   SURVEY_DATE_OUTPUT  362931 non-null  object
 7   SURVEYTYPE          362931 non-null  object
 8   DEFPREF             362931 non-null  object
 9   CATEGORY            362931 non-null  object
 10  TAG                 362931 non-null  int64
 11  TAG_DESC            362931 non-null  object
 12  SCOPE               362931 non-null  object
 13  DEFSTAT             362931 non-null  object
 14  STATDATE            361230 non-null  object
 15  cycle               362931 non-null  int64
 16  Standard            362931 non-null  object
 17  Complaint           362931 non-null  object
 18  FILEDATE            362931 non-null  object
dtypes: int64(3), object(16)
memory usage: 52.6+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\723232182.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(360443, 20)


Null values:
Federal Provider Number      0
Provider Name                0
Provider Address             0
Provider City                0
Provider State               0
Provider Zip Code            0
Survey Date                  0
Survey Type                  0
Deficiency Prefix            0
Deficiency Category          0
Deficiency Tag Number        0
Deficiency Description       0
Scope Severity Code          0
Deficiency Corrected         0
Correction Date            804
Inspection Cycle             0
Standard Deficiency          0
Complaint Deficiency         0
Location                     0
Processing Date              0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360443 entries, 0 to 360442
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Federal Provider Number  360443 non-null  object
 1   Provider Name            360443 non-null  object
 2   Provider Address         360443 non-null  object
 3   Provider City            360443 non-null  object
 4   Provider State           360443 non-null  object
 5   Provider Zip Code        360443 non-null  int64
 6   Survey Date              360443 non-null  object
 7   Survey Type              360443 non-null  object
 8   Deficiency Prefix        360443 non-null  object
 9   Deficiency Category      360443 non-null  object
 10  Deficiency Tag Number    360443 non-null  int64
 11  Deficiency Description   360443 non-null  object
 12  Scope Severity Code      360443 non-null  object
 13  Deficiency Corrected     360443 non-null  object
 14  Correction Date          359639 non-null  object
 15  Inspection Cycle         360443 non-null  int64
 16  Standard Deficiency      360443 non-null  object
 17  Complaint Deficiency     360443 non-null  object
 18  Location                 360443 non-null  object
 19  Processing Date          360443 non-null  object
dtypes: int64(3), object(17)
memory usage: 55.0+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\723232182.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(370746, 21)


Null values:
Federal Provider Number                       0
Provider Name                                 0
Provider Address                              0
Provider City                                 0
Provider State                                0
Provider Zip Code                             0
Survey Date                                   0
Survey Type                                   0
Deficiency Prefix                             0
Deficiency Category                           0
Deficiency Tag Number                         0
Deficiency Description                        0
Scope Severity Code                           0
Deficiency Corrected                          0
Correction Date                            2001
Inspection Cycle                              0
Standard Deficiency                           0
Complaint Deficiency                          0
Infection Control Inspection Deficiency       0
Location                                      0
Processing Date                               0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370746 entries, 0 to 370745
Data columns (total 21 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Federal Provider Number                  370746 non-null  object
 1   Provider Name                            370746 non-null  object
 2   Provider Address                         370746 non-null  object
 3   Provider City                            370746 non-null  object
 4   Provider State                           370746 non-null  object
 5   Provider Zip Code                        370746 non-null  int64
 6   Survey Date                              370746 non-null  object
 7   Survey Type                              370746 non-null  object
 8   Deficiency Prefix                        370746 non-null  object
 9   Deficiency Category                      370746 non-null  object
 10  Deficiency Tag Number                    370746 non-null  int64
 11  Deficiency Description                   370746 non-null  object
 12  Scope Severity Code                      370746 non-null  int64
 13  Deficiency Corrected                     370746 non-null  object
 14  Correction Date                          368745 non-null  object
 15  Inspection Cycle                         370746 non-null  int64
 16  Standard Deficiency                      370746 non-null  object
 17  Complaint Deficiency                     370746 non-null  object
 18  Infection Control Inspection Deficiency  370746 non-null  object
 19  Location                                 370746 non-null  object
 20  Processing Date                          370746 non-null  object
dtypes: int64(4), object(17)
memory usage: 59.4+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\723232182.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\723232182.py:32: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[4 4 4 ... 4 4 4]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  health_deficiency.loc[health_deficiency['year'] == 2021, 'scope_num'] = health_deficiency['scope']

In [131]:
health_deficiency['year'].value_counts()

year
2015    479167
2021    370746
2019    362931
2020    360443
2018    350887
2017    338451
2016    329324
Name: count, dtype: int64

In [87]:

print(health_deficiency.shape)
print(provider_info.info())
print(health_deficiency.isnull().sum())

(2591949, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108637 entries, 0 to 108636
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   provnum          108637 non-null  object
 1   provname         108637 non-null  object
 2   state            108637 non-null  object
 3   address          108637 non-null  object
 4   city             108637 non-null  object
 5   zip              108637 non-null  int64
 6   ownership        108636 non-null  object
 7   restot           107914 non-null  float64
 8   overall_rating   106945 non-null  float64
 9   survey_rating    107389 non-null  float64
 10  quality_rating   107188 non-null  float64
 11  staffing_rating  104544 non-null  float64
 12  adj_total        104271 non-null  float64
 13  year             108637 non-null  int64
dtypes: float64(6), int64(2), object(6)
memory usage: 11.6+ MB
None
provnum      0
scope        0
year         0
pk           0
scope_num    0
dtype: int64

In [91]:
print(health_deficiency['provnum'].value_counts())

provnum
145371    842
395382    820
555336    808
555566    797
055017    793
         ...
106127      1
095040      1
045468      1
37E632      1
676499      1
Name: count, Length: 16329, dtype: int64

## quality

In [ ]:
def process_qa_csv(df, year):
    """Processes quality measure MDS CSV files."""
    required_cols = ["provnum", "msr_cd", "msr_descr", "avg_score"]
    
    df.columns = df.columns.str.lower().str.strip()
    
    if year < 2020:
        if year == 2015:
            df.rename(columns={"measure_score_3qtr_avg": "avg_score"}, inplace=True)
        else:
            df.rename(columns={"measure_score_4qtr_avg": "avg_score"}, inplace=True)
    else:
        column_mapping = {
            "federal provider number": "provnum", 
            "measure code": "msr_cd",
            "measure description": "msr_descr",
            "four quarter average score": "avg_score"
        }
        df.rename(columns=column_mapping, inplace=True)
    
    df = df[required_cols]
    df['year'] = year
    return df


# Process quality data
quality_dfs = []
for year, file in zip(range(2015, 2022), quality_files):
    filepath = os.path.join(base_path, file)
    df = data_explore(filepath)
    if df is not None:
        quality_dfs.append(process_qa_csv(df, year))

# Union
quality = pd.concat(quality_dfs, ignore_index=True)

# Add pk for database primary key (provnum & year are foreign keys)
quality['pk'] = range(1, len(quality) + 1)

# Ensure provnum is char(6) datatype
quality['provnum'] = quality['provnum'].astype(str).str.zfill(6)

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(281898, 22)


Null values:
provnum                        0
provname                       0
address                        0
city                           0
state                          0
zip                            0
msr_cd                         0
msr_descr                      0
stay_type                      0
q1_measure_score           56134
q1_measure_fn             225764
q2_measure_score           54979
q2_measure_fn             226919
q3_measure_score           54526
q3_measure_fn             227372
measure_score_3qtr_avg     15637
score3qtr_fn              266261
five_star_msr                  0
q1_quarter                     0
q2_quarter                     0
q3_quarter                     0
filedate                       0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281898 entries, 0 to 281897
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   provnum                 281898 non-null  object
 1   provname                281898 non-null  object
 2   address                 281898 non-null  object
 3   city                    281898 non-null  object
 4   state                   281898 non-null  object
 5   zip                     281898 non-null  int64
 6   msr_cd                  281898 non-null  int64
 7   msr_descr               281898 non-null  object
 8   stay_type               281898 non-null  object
 9   q1_measure_score        225764 non-null  float64
 10  q1_measure_fn           56134 non-null   object
 11  q2_measure_score        226919 non-null  float64
 12  q2_measure_fn           54979 non-null   object
 13  q3_measure_score        227372 non-null  float64
 14  q3_measure_fn           54526 non-null   object
 15  measure_score_3qtr_avg  266261 non-null  float64
 16  score3qtr_fn            15637 non-null   object
 17  five_star_msr           281898 non-null  object
 18  q1_quarter              281898 non-null  object
 19  q2_quarter              281898 non-null  object
 20  q3_quarter              281898 non-null  object
 21  filedate                281898 non-null  object
dtypes: float64(4), int64(2), object(16)
memory usage: 47.3+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3223052448.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(328671, 25)


Null values:
PROVNUM                        0
PROVNAME                       0
ADDRESS                        0
CITY                           0
STATE                          0
ZIP                            0
MSR_CD                         0
MSR_DESCR                      0
STAY_TYPE                      0
Q1_MEASURE_SCORE           48371
Q1_MEASURE_FN             280300
Q2_MEASURE_SCORE           48069
Q2_MEASURE_FN             280602
Q3_MEASURE_SCORE           47283
Q3_MEASURE_FN             281388
Q4_MEASURE_SCORE           47021
Q4_MEASURE_FN             281650
MEASURE_SCORE_4QTR_AVG     15471
SCORE4QTR_FN              313200
FIVE_STAR_MSR                  0
Q1_QUARTER                     0
Q2_QUARTER                     0
Q3_QUARTER                     0
Q4_QUARTER                     0
FILEDATE                       0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328671 entries, 0 to 328670
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   PROVNUM                 328671 non-null  object
 1   PROVNAME                328671 non-null  object
 2   ADDRESS                 328671 non-null  object
 3   CITY                    328671 non-null  object
 4   STATE                   328671 non-null  object
 5   ZIP                     328671 non-null  int64
 6   MSR_CD                  328671 non-null  int64
 7   MSR_DESCR               328671 non-null  object
 8   STAY_TYPE               328671 non-null  object
 9   Q1_MEASURE_SCORE        280300 non-null  float64
 10  Q1_MEASURE_FN           48371 non-null   object
 11  Q2_MEASURE_SCORE        280602 non-null  float64
 12  Q2_MEASURE_FN           48069 non-null   object
 13  Q3_MEASURE_SCORE        281388 non-null  float64
 14  Q3_MEASURE_FN           47283 non-null   object
 15  Q4_MEASURE_SCORE        281650 non-null  float64
 16  Q4_MEASURE_FN           47021 non-null   object
 17  MEASURE_SCORE_4QTR_AVG  313200 non-null  float64
 18  SCORE4QTR_FN            15471 non-null   object
 19  FIVE_STAR_MSR           328671 non-null  object
 20  Q1_QUARTER              328671 non-null  object
 21  Q2_QUARTER              328671 non-null  object
 22  Q3_QUARTER              328671 non-null  object
 23  Q4_QUARTER              328671 non-null  object
 24  FILEDATE                328671 non-null  object
dtypes: float64(5), int64(2), object(18)
memory usage: 62.7+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3223052448.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(328566, 25)


Null values:
PROVNUM                        0
PROVNAME                       0
ADDRESS                        0
CITY                           0
STATE                          0
ZIP                            0
MSR_CD                         0
MSR_DESCR                      0
STAY_TYPE                      0
Q1_MEASURE_SCORE           47725
Q1_MEASURE_FN             280841
Q2_MEASURE_SCORE           47773
Q2_MEASURE_FN             280793
Q3_MEASURE_SCORE           46730
Q3_MEASURE_FN             281836
Q4_MEASURE_SCORE           46478
Q4_MEASURE_FN             282088
MEASURE_SCORE_4QTR_AVG     15090
SCORE4QTR_FN              313476
FIVE_STAR_MSR                  0
Q1_QUARTER                     0
Q2_QUARTER                     0
Q3_QUARTER                     0
Q4_QUARTER                     0
FILEDATE                       0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328566 entries, 0 to 328565
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   PROVNUM                 328566 non-null  object
 1   PROVNAME                328566 non-null  object
 2   ADDRESS                 328566 non-null  object
 3   CITY                    328566 non-null  object
 4   STATE                   328566 non-null  object
 5   ZIP                     328566 non-null  int64
 6   MSR_CD                  328566 non-null  int64
 7   MSR_DESCR               328566 non-null  object
 8   STAY_TYPE               328566 non-null  object
 9   Q1_MEASURE_SCORE        280841 non-null  float64
 10  Q1_MEASURE_FN           47725 non-null   object
 11  Q2_MEASURE_SCORE        280793 non-null  float64
 12  Q2_MEASURE_FN           47773 non-null   object
 13  Q3_MEASURE_SCORE        281836 non-null  float64
 14  Q3_MEASURE_FN           46730 non-null   object
 15  Q4_MEASURE_SCORE        282088 non-null  float64
 16  Q4_MEASURE_FN           46478 non-null   object
 17  MEASURE_SCORE_4QTR_AVG  313476 non-null  float64
 18  SCORE4QTR_FN            15090 non-null   object
 19  FIVE_STAR_MSR           328566 non-null  object
 20  Q1_QUARTER              328566 non-null  object
 21  Q2_QUARTER              328566 non-null  object
 22  Q3_QUARTER              328566 non-null  object
 23  Q4_QUARTER              328566 non-null  object
 24  FILEDATE                328566 non-null  object
dtypes: float64(5), int64(2), object(18)
memory usage: 62.7+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3223052448.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

Data dimensions:
(327516, 25)


Null values:
PROVNUM                        0
PROVNAME                       0
ADDRESS                        0
CITY                           0
STATE                          0
ZIP                            0
MSR_CD                         0
MSR_DESCR                      0
STAY_TYPE                      0
Q1_MEASURE_SCORE           47081
Q1_MEASURE_FN             280435
Q2_MEASURE_SCORE           47382
Q2_MEASURE_FN             280134
Q3_MEASURE_SCORE           46317
Q3_MEASURE_FN             281199
Q4_MEASURE_SCORE           46103
Q4_MEASURE_FN             281413
MEASURE_SCORE_4QTR_AVG     14531
SCORE4QTR_FN              312985
FIVE_STAR_MSR                  0
Q1_QUARTER                     0
Q2_QUARTER                     0
Q3_QUARTER                     0
Q4_QUARTER                     0
FILEDATE                       0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327516 entries, 0 to 327515
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   PROVNUM                 327516 non-null  object
 1   PROVNAME                327516 non-null  object
 2   ADDRESS                 327516 non-null  object
 3   CITY                    327516 non-null  object
 4   STATE                   327516 non-null  object
 5   ZIP                     327516 non-null  int64
 6   MSR_CD                  327516 non-null  int64
 7   MSR_DESCR               327516 non-null  object
 8   STAY_TYPE               327516 non-null  object
 9   Q1_MEASURE_SCORE        280435 non-null  float64
 10  Q1_MEASURE_FN           47081 non-null   object
 11  Q2_MEASURE_SCORE        280134 non-null  float64
 12  Q2_MEASURE_FN           47382 non-null   object
 13  Q3_MEASURE_SCORE        281199 non-null  float64
 14  Q3_MEASURE_FN           46317 non-null   object
 15  Q4_MEASURE_SCORE        281413 non-null  float64
 16  Q4_MEASURE_FN           46103 non-null   object
 17  MEASURE_SCORE_4QTR_AVG  312985 non-null  float64
 18  SCORE4QTR_FN            14531 non-null   object
 19  FIVE_STAR_MSR           327516 non-null  object
 20  Q1_QUARTER              327516 non-null  object
 21  Q2_QUARTER              327516 non-null  object
 22  Q3_QUARTER              327516 non-null  object
 23  Q4_QUARTER              327516 non-null  object
 24  FILEDATE                327516 non-null  object
dtypes: float64(5), int64(2), object(18)
memory usage: 62.5+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3223052448.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

Data dimensions:
(293949, 22)


Null values:
PROVNUM                        0
PROVNAME                       0
ADDRESS                        0
CITY                           0
STATE                          0
ZIP                            0
MSR_CD                         0
MSR_DESCR                      0
STAY_TYPE                      0
Q1_MEASURE_SCORE           53542
Q1_MEASURE_FN             240407
Q2_MEASURE_SCORE           53250
Q2_MEASURE_FN             240699
Q3_MEASURE_SCORE           52949
Q3_MEASURE_FN             241000
Q4_MEASURE_SCORE           52882
Q4_MEASURE_FN             241067
MEASURE_SCORE_4QTR_AVG     13697
SCORE4QTR_FN              280252
FIVE_STAR_MSR                  0
MEASURE_PERIOD                 0
FILEDATE                       0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293949 entries, 0 to 293948
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   PROVNUM                 293949 non-null  object
 1   PROVNAME                293949 non-null  object
 2   ADDRESS                 293949 non-null  object
 3   CITY                    293949 non-null  object
 4   STATE                   293949 non-null  object
 5   ZIP                     293949 non-null  int64
 6   MSR_CD                  293949 non-null  int64
 7   MSR_DESCR               293949 non-null  object
 8   STAY_TYPE               293949 non-null  object
 9   Q1_MEASURE_SCORE        240407 non-null  float64
 10  Q1_MEASURE_FN           53542 non-null   float64
 11  Q2_MEASURE_SCORE        240699 non-null  float64
 12  Q2_MEASURE_FN           53250 non-null   float64
 13  Q3_MEASURE_SCORE        241000 non-null  float64
 14  Q3_MEASURE_FN           52949 non-null   float64
 15  Q4_MEASURE_SCORE        241067 non-null  float64
 16  Q4_MEASURE_FN           52882 non-null   float64
 17  MEASURE_SCORE_4QTR_AVG  280252 non-null  float64
 18  SCORE4QTR_FN            13697 non-null   float64
 19  FIVE_STAR_MSR           293949 non-null  object
 20  MEASURE_PERIOD          293949 non-null  object
 21  FILEDATE                293949 non-null  object
dtypes: float64(10), int64(2), object(10)
memory usage: 49.3+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3223052448.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(276264, 23)


Null values:
Federal Provider Number                          0
Provider Name                                    0
Provider Address                                 0
Provider City                                    0
Provider State                                   0
Provider Zip Code                                0
Measure Code                                     0
Measure Description                              0
Resident type                                    0
Q1 Measure Score                             37468
Footnote for Q1 Measure Score               238796
Q2 Measure Score                             37208
Footnote for Q2 Measure Score               239056
Q3 Measure Score                             37112
Footnote for Q3 Measure Score               239152
Q4 Measure Score                             37501
Footnote for Q4 Measure Score               238763
Four Quarter Average Score                   12131
Footnote for Four Quarter Average Score     264133
Used in Quality Measure Five Star Rating         0
Measure Period                                   0
Location                                         0
Processing Date                                  0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276264 entries, 0 to 276263
Data columns (total 23 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Federal Provider Number                   276264 non-null  object
 1   Provider Name                             276264 non-null  object
 2   Provider Address                          276264 non-null  object
 3   Provider City                             276264 non-null  object
 4   Provider State                            276264 non-null  object
 5   Provider Zip Code                         276264 non-null  int64
 6   Measure Code                              276264 non-null  int64
 7   Measure Description                       276264 non-null  object
 8   Resident type                             276264 non-null  object
 9   Q1 Measure Score                          238796 non-null  float64
 10  Footnote for Q1 Measure Score             37468 non-null   float64
 11  Q2 Measure Score                          239056 non-null  float64
 12  Footnote for Q2 Measure Score             37208 non-null   float64
 13  Q3 Measure Score                          239152 non-null  float64
 14  Footnote for Q3 Measure Score             37112 non-null   float64
 15  Q4 Measure Score                          238763 non-null  float64
 16  Footnote for Q4 Measure Score             37501 non-null   float64
 17  Four Quarter Average Score                264133 non-null  float64
 18  Footnote for Four Quarter Average Score   12131 non-null   float64
 19  Used in Quality Measure Five Star Rating  276264 non-null  object
 20  Measure Period                            276264 non-null  object
 21  Location                                  276264 non-null  object
 22  Processing Date                           276264 non-null  object
dtypes: float64(10), int64(2), object(11)
memory usage: 48.5+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3223052448.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(274752, 23)


Null values:
Federal Provider Number                          0
Provider Name                                    0
Provider Address                                 0
Provider City                                    0
Provider State                                   0
Provider Zip Code                                0
Measure Code                                     0
Measure Description                              0
Resident type                                    0
Q1 Measure Score                             45997
Footnote for Q1 Measure Score               228755
Q2 Measure Score                             48872
Footnote for Q2 Measure Score               225880
Q3 Measure Score                             48652
Footnote for Q3 Measure Score               226100
Q4 Measure Score                             46448
Footnote for Q4 Measure Score               228304
Four Quarter Average Score                   13084
Footnote for Four Quarter Average Score     261668
Used in Quality Measure Five Star Rating         0
Measure Period                                   0
Location                                         0
Processing Date                                  0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274752 entries, 0 to 274751
Data columns (total 23 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Federal Provider Number                   274752 non-null  object
 1   Provider Name                             274752 non-null  object
 2   Provider Address                          274752 non-null  object
 3   Provider City                             274752 non-null  object
 4   Provider State                            274752 non-null  object
 5   Provider Zip Code                         274752 non-null  int64
 6   Measure Code                              274752 non-null  int64
 7   Measure Description                       274752 non-null  object
 8   Resident type                             274752 non-null  object
 9   Q1 Measure Score                          228755 non-null  float64
 10  Footnote for Q1 Measure Score             45997 non-null   float64
 11  Q2 Measure Score                          225880 non-null  float64
 12  Footnote for Q2 Measure Score             48872 non-null   float64
 13  Q3 Measure Score                          226100 non-null  float64
 14  Footnote for Q3 Measure Score             48652 non-null   float64
 15  Q4 Measure Score                          228304 non-null  float64
 16  Footnote for Q4 Measure Score             46448 non-null   float64
 17  Four Quarter Average Score                261668 non-null  float64
 18  Footnote for Four Quarter Average Score   13084 non-null   float64
 19  Used in Quality Measure Five Star Rating  274752 non-null  object
 20  Measure Period                            274752 non-null  object
 21  Location                                  274752 non-null  object
 22  Processing Date                           274752 non-null  object
dtypes: float64(10), int64(2), object(11)
memory usage: 48.2+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3223052448.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

In [130]:
quality['year'].value_counts()

year
2016    328671
2017    328566
2018    327516
2019    293949
2015    281898
2020    276264
2021    274752
Name: count, dtype: int64

In [95]:
print(quality.shape)
print(quality.info())
print(quality.isnull().sum())

(2111616, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111616 entries, 0 to 2111615
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   provnum    object
 1   msr_cd     int64
 2   msr_descr  object
 3   avg_score  float64
 4   year       int64
 5   pk         int64
dtypes: float64(1), int64(3), object(2)
memory usage: 96.7+ MB
None
provnum          0
msr_cd           0
msr_descr        0
avg_score    99641
year             0
pk               0
dtype: int64

## penalty

In [ ]:
def process_pe_csv(df, year):
    """Processes penalties CSV files."""
    required_cols = ["provnum", "pnlty_type", "fine_amt", "payden_days"]
    
    df.columns = df.columns.str.lower().str.strip()
    
    if year >= 2020:
        column_mapping = {
            "federal provider number": "provnum", 
            "penalty type": "pnlty_type",
            "fine amount": "fine_amt",
            "payment denial length in days": "payden_days"
        }
        df.rename(columns=column_mapping, inplace=True)
    
    df = df[required_cols]
    df['year'] = year
    return df

# Process penalties data
penalties_dfs = []
for year, file in zip(range(2015, 2022), penalties_files):
    filepath = os.path.join(base_path, file)
    df = data_explore(filepath)
    if df is not None:
        penalties_dfs.append(process_pe_csv(df, year))

# Union
penalties = pd.concat(penalties_dfs, ignore_index=True)

# Add pk for database primary key (provnum & year are foreign keys)
penalties['pk'] = range(1, len(penalties) + 1)

# Ensure provnum is char(6) datatype
penalties['provnum'] = penalties['provnum'].astype(str).str.zfill(6)

Data dimensions:
(6478, 12)


Null values:
provnum              0
provname             0
address              0
city                 0
state                0
zip                  0
pnlty_date           0
pnlty_type           0
fine_amt          1398
payden_strt_dt    5080
payden_days       5080
filedate             0
dtype: int64


Duplicated values:
266
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6478 entries, 0 to 6477
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provnum         6478 non-null   int64
 1   provname        6478 non-null   object
 2   address         6478 non-null   object
 3   city            6478 non-null   object
 4   state           6478 non-null   object
 5   zip             6478 non-null   int64
 6   pnlty_date      6478 non-null   object
 7   pnlty_type      6478 non-null   object
 8   fine_amt        5080 non-null   float64
 9   payden_strt_dt  1398 non-null   object
 10  payden_days     1398 non-null   float64
 11  filedate        6478 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 607.4+ KB


Summary:
None


Data dimensions:
(6817, 12)


Null values:
provnum              0
provname             0
address              0
city                 0
state                0
zip                  0
pnlty_date           0
pnlty_type           0
fine_amt          1440
payden_strt_dt    5377
payden_days       5377
filedate             0
dtype: int64


Duplicated values:
292
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6817 entries, 0 to 6816
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provnum         6817 non-null   int64
 1   provname        6817 non-null   object
 2   address         6817 non-null   object
 3   city            6817 non-null   object
 4   state           6817 non-null   object
 5   zip             6817 non-null   int64
 6   pnlty_date      6817 non-null   object
 7   pnlty_type      6817 non-null   object
 8   fine_amt        5377 non-null   float64
 9   payden_strt_dt  1440 non-null   object
 10  payden_days     1440 non-null   float64
 11  filedate        6817 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 639.2+ KB


Summary:
None


Data dimensions:
(7598, 12)


Null values:
provnum              0
provname             0
address              0
city                 0
state                0
zip                  0
pnlty_date           0
pnlty_type           0
fine_amt          1550
payden_strt_dt    6048
payden_days       6048
filedate             0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7598 entries, 0 to 7597
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provnum         7598 non-null   int64
 1   provname        7598 non-null   object
 2   address         7598 non-null   object
 3   city            7598 non-null   object
 4   state           7598 non-null   object
 5   zip             7598 non-null   int64
 6   pnlty_date      7598 non-null   object
 7   pnlty_type      7598 non-null   object
 8   fine_amt        6048 non-null   float64
 9   payden_strt_dt  1550 non-null   object
 10  payden_days     1550 non-null   float64
 11  filedate        7598 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 712.4+ KB


Summary:
None


Data dimensions:
(8742, 12)


Null values:
provnum              0
provname             0
address              0
city                 0
state                0
zip                  0
pnlty_date           0
pnlty_type           0
fine_amt          1607
payden_strt_dt    7135
payden_days       7135
filedate             0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8742 entries, 0 to 8741
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provnum         8742 non-null   int64
 1   provname        8742 non-null   object
 2   address         8742 non-null   object
 3   city            8742 non-null   object
 4   state           8742 non-null   object
 5   zip             8742 non-null   int64
 6   pnlty_date      8742 non-null   object
 7   pnlty_type      8742 non-null   object
 8   fine_amt        7135 non-null   float64
 9   payden_strt_dt  1607 non-null   object
 10  payden_days     1607 non-null   float64
 11  filedate        8742 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 819.7+ KB


Summary:
None


Data dimensions:
(9067, 12)


Null values:
provnum              0
provname             0
address              0
city                 0
state                0
zip                  0
pnlty_date           0
pnlty_type           0
fine_amt          1627
payden_strt_dt    7440
payden_days       7440
filedate             0
dtype: int64

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\2259435879.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\2259435879.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\2259435879.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\2259435879.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\2259435879.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9067 entries, 0 to 9066
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   provnum         9067 non-null   int64
 1   provname        9067 non-null   object
 2   address         9067 non-null   object
 3   city            9067 non-null   object
 4   state           9067 non-null   object
 5   zip             9067 non-null   int64
 6   pnlty_date      9067 non-null   object
 7   pnlty_type      9067 non-null   object
 8   fine_amt        7440 non-null   float64
 9   payden_strt_dt  1627 non-null   object
 10  payden_days     1627 non-null   float64
 11  filedate        9067 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 850.2+ KB


Summary:
None


Data dimensions:
(6640, 13)


Null values:
Federal Provider Number             0
Provider Name                       0
Provider Address                    0
Provider City                       0
Provider State                      0
Provider Zip Code                   0
Penalty Date                        0
Penalty Type                        0
Fine Amount                      1318
Payment Denial Start Date        5322
Payment Denial Length in Days    5322
Location                            0
Processing Date                     0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6640 entries, 0 to 6639
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Federal Provider Number        6640 non-null   int64
 1   Provider Name                  6640 non-null   object
 2   Provider Address               6640 non-null   object
 3   Provider City                  6640 non-null   object
 4   Provider State                 6640 non-null   object
 5   Provider Zip Code              6640 non-null   int64
 6   Penalty Date                   6640 non-null   object
 7   Penalty Type                   6640 non-null   object
 8   Fine Amount                    5322 non-null   float64
 9   Payment Denial Start Date      1318 non-null   object
 10  Payment Denial Length in Days  1318 non-null   float64
 11  Location                       6640 non-null   object
 12  Processing Date                6640 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 674.5+ KB


Summary:
None


Data dimensions:
(26146, 13)


Null values:
Federal Provider Number              0
Provider Name                        0
Provider Address                     0
Provider City                        0
Provider State                       0
Provider Zip Code                    0
Penalty Date                         0
Penalty Type                         0
Fine Amount                       1916
Payment Denial Start Date        24230
Payment Denial Length in Days    24230
Location                             0
Processing Date                      0
dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26146 entries, 0 to 26145
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Federal Provider Number        26146 non-null  object
 1   Provider Name                  26146 non-null  object
 2   Provider Address               26146 non-null  object
 3   Provider City                  26146 non-null  object
 4   Provider State                 26146 non-null  object
 5   Provider Zip Code              26146 non-null  int64
 6   Penalty Date                   26146 non-null  object
 7   Penalty Type                   26146 non-null  object
 8   Fine Amount                    24230 non-null  float64
 9   Payment Denial Start Date      1916 non-null   object
 10  Payment Denial Length in Days  1916 non-null   float64
 11  Location                       26146 non-null  object
 12  Processing Date                26146 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.6+ MB


Summary:
None

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\2259435879.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\2259435879.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = year

In [128]:
penalties['year'].value_counts()

year
2021    26146
2019     9067
2018     8742
2017     7598
2016     6817
2020     6640
2015     6478
Name: count, dtype: int64

In [93]:

print(penalties.shape)
print(penalties.tail())
print(penalties.info())
print(penalties.isnull().sum())

(71488, 6)
      provnum pnlty_type  fine_amt  payden_days  year     pk
71483  676499       Fine      1300          NaN  2021  71484
71484  676499       Fine      1625          NaN  2021  71485
71485  676499       Fine      1950          NaN  2021  71486
71486  676499       Fine      2275          NaN  2021  71487
71487  686124       Fine     13065          NaN  2021  71488
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71488 entries, 0 to 71487
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   provnum      71488 non-null  object
 1   pnlty_type   71488 non-null  object
 2   fine_amt     60632 non-null  float64
 3   payden_days  10856 non-null  float64
 4   year         71488 non-null  int64
 5   pk           71488 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 3.3+ MB
None
provnum            0
pnlty_type         0
fine_amt       10856
payden_days    60632
year               0
pk                 0
dtype: int64

## cost_report

### clean & union

In [ ]:
CostReport_2015= data_explore("C:/Users/nhien/Downloads/HI/2015_CostReport.csv")
CostReport_2016= data_explore("C:/Users/nhien/Downloads/HI/2016_CostReport.csv")
CostReport_2017= data_explore("C:/Users/nhien/Downloads/HI/2017_CostReport.csv")
CostReport_2018= data_explore("C:/Users/nhien/Downloads/HI/2018_CostReport.csv")
CostReport_2019= data_explore("C:/Users/nhien/Downloads/HI/2019_CostReport.csv")
CostReport_2020= data_explore("C:/Users/nhien/Downloads/HI/2020_CostReport.csv")
CostReport_2021= data_explore("C:/Users/nhien/Downloads/HI/2021_CostReport.csv")

def process_cr(df):
  
    # Ensure provnum is char(6)
    df['Provider_CCN']=df['Provider_CCN'].astype(str).str.zfill(6) 

    # Fiscal year is char so adding a"Date_Difference" columnn to account for later
    df['Fiscal_Year_Begin_Date'] = pd.to_datetime(df['Fiscal_Year_Begin_Date'])
    df['Fiscal_Year_End_Date'] = pd.to_datetime(df['Fiscal_Year_End_Date'])
    # Calculate date difference for each row
    df['fiscal_period'] = (df['Fiscal_Year_End_Date'] - df['Fiscal_Year_Begin_Date']).dt.days

    required_cols = ['provnum',
                     'rural_versus_urban',
                     'accounts_receivable',
                     'cash_on_hand_and_in_banks',
                     'gross_revenue',
                     'inpatient_revenue',
                     'less_total_operating_expense',
                     'net_income',
                     'net_income_from_patients',
                     'net_patient_revenue',
                     'overhead_non_salary_costs',
                     'snf_days_total',
                     'salaries_wages_and_fees_payable',
                     'total_liab_and_fund_balances',
                     'total_salaries_adjusted',
                     'total_fund_balances',
                     'total_liabilities',                     
                     'snf_admissions_total',
                     'fiscal_period']
    
    # Convert column names to lowercase
    df.columns = [col.lower() for col in df.columns]
    
        # Define column mapping
    column_mapping = {
        "provider_ccn": "provnum" 
    }
    
   # Rename columns based on mapping
    df.rename(columns=column_mapping, inplace=True)

    # Keep only the required columns
    df = df[required_cols]
   
    return df


# Process the 2015-2019 files
cr_2015 = process_cr(CostReport_2015)
cr_2016 = process_cr(CostReport_2016)
cr_2017 = process_cr(CostReport_2017)
cr_2018 = process_cr(CostReport_2018)
cr_2019 = process_cr(CostReport_2019)

def process_cr(df):
  


    # Fiscal year is char so adding a"Date_Difference" columnn to account for later
    df['Fiscal Year Begin Date'] = pd.to_datetime(df['Fiscal Year Begin Date'])
    df['Fiscal Year End Date'] = pd.to_datetime(df['Fiscal Year End Date'])
    # Calculate date difference for each row
    df['fiscal_period'] = (df['Fiscal Year End Date'] - df['Fiscal Year Begin Date']).dt.days

    required_cols = ['provnum',
                     'rural_versus_urban',
                     'accounts_receivable',
                     'cash_on_hand_and_in_banks',
                     'gross_revenue',
                     'inpatient_revenue',
                     'less_total_operating_expense',
                     'net_income',
                     'net_income_from_patients',
                     'net_patient_revenue',
                     'overhead_non_salary_costs',
                     'snf_days_total',
                     'salaries_wages_and_fees_payable',
                     'total_liab_and_fund_balances',
                     'total_salaries_adjusted',
                     'total_fund_balances',
                     'total_liabilities',
                     'snf_admissions_total',
                     'fiscal_period']
    
    # Define column mapping
    column_mapping = {
            'provider ccn':'provnum',
            'rural versus urban':'rural_versus_urban',
            'accounts receivable':'accounts_receivable',
            'cash on hand and in banks':'cash_on_hand_and_in_banks',
            'gross revenue':'gross_revenue',
            'inpatient revenue':'inpatient_revenue',
            'less total operating expense':'less_total_operating_expense',
            'net income':'net_income',
            'net income from service to patients':'net_income_from_patients',
            'net patient revenue':'net_patient_revenue',
            'overhead non-salary costs':'overhead_non_salary_costs',
            'snf days total':'snf_days_total',
            'salaries, wages, and fees payable':'salaries_wages_and_fees_payable',
            'total liabilities and fund balances':'total_liab_and_fund_balances',
            'total salaries (adjusted)':'total_salaries_adjusted',
            'total fund balances':'total_fund_balances',
            'total liabilities':'total_liabilities',
            'nf admissions total':'snf_admissions_total'        
    }
    # Convert column names to lowercase
    df.columns = [col.lower() for col in df.columns]
   # Rename columns based on mapping
    df.rename(columns=column_mapping, inplace=True)
    
    # Ensure provnum is char(6)
    df['provnum']=df['provnum'].astype(str).str.zfill(6) 

    # Keep only the required columns
    df = df[required_cols]
   
    return df

cr_2020 = process_cr(CostReport_2020)
cr_2021 = process_cr(CostReport_2021)

# Add a year column to each dataset
cr_2015['year'] = 2015
cr_2016['year'] = 2016
cr_2017['year'] = 2017
cr_2018['year'] = 2018
cr_2019['year'] = 2019
cr_2020['year'] = 2020
cr_2021['year'] = 2021

# Concatenate all datasets into a single dataframe
cost_report = pd.concat([
    cr_2015, 
    cr_2016, 
    cr_2017, 
    cr_2018,
    cr_2019, 
    cr_2020, 
    cr_2021], ignore_index=True)

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\646799.py:10: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, encoding='ISO-8859-1')

Data dimensions:
(15402, 74)


Null values:
rpt_rec_num                   0
Provider_CCN                  0
Facility_Name                 0
Street_Address                3
City                          0
                           ...
Total_fund_balances         484
Total_liabilities           617
Total_other_Assets         4727
Wage_related_Costs_core     545
Fixed_equipment            8790
Length: 74, dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15402 entries, 0 to 15401
Data columns (total 74 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   rpt_rec_num                      15402 non-null  int64
 1   Provider_CCN                     15402 non-null  int64
 2   Facility_Name                    15402 non-null  object
 3   Street_Address                   15399 non-null  object
 4   City                             15402 non-null  object
 5   State_Code                       15402 non-null  object
 6   Zip_Code                         15402 non-null  object
 7   County                           15402 non-null  object
 8   Medicare_CBSA_Number             14914 non-null  object
 9   Rural_versus_Urban               14927 non-null  object
 10  Fiscal_Year_Begin_Date           14950 non-null  object
 11  Fiscal_Year_End_Date             14950 non-null  object
 12  Type_of_Control                  15402 non-null  int64
 13  Accounts_Receivable              14446 non-null  float64
 14  Accounts_payable                 14572 non-null  float64
 15  Buildings                        6795 non-null   float64
 16  Cash_on_hand_and_in_banks        14597 non-null  float64
 17  General_fund_balance             14918 non-null  float64
 18  Gross_Revenue                    14901 non-null  float64
 19  Inpatient_PPS_Amount             14931 non-null  float64
 20  Inpatient_Revenue                14900 non-null  float64
 21  Less_Total_Operating_Expense     14950 non-null  float64
 22  Less_discounts_on_patients       13854 non-null  float64
 23  Major_movable_equipment          10626 non-null  float64
 24  Net_Income                       14911 non-null  float64
 25  Net_Income_from_patients         14946 non-null  float64
 26  Net_Patient_Revenue              14901 non-null  float64
 27  Number_of_Beds                   14904 non-null  float64
 28  Other_Assets                     8764 non-null   float64
 29  Other_current_liabilities        12020 non-null  float64
 30  Overhead_Non_Salary_Costs        14950 non-null  float64
 31  SNF_Admissions_Other             14601 non-null  float64
 32  SNF_Admissions_Title_XIX         12540 non-null  float64
 33  SNF_Admissions_Title_XVIII       14814 non-null  float64
 34  SNF_Admissions_Total             14855 non-null  float64
 35  SNF_Average_Length_of_stay_Tot   14917 non-null  float64
 36  SNF_Average_Length_stay_XIX      12622 non-null  float64
 37  SNF_Average_Length_stay_XVIII    14876 non-null  float64
 38  SNF_Days_Other                   14791 non-null  float64
 39  SNF_Days_Title_XIX               12835 non-null  float64
 40  SNF_Days_Title_XVIII             14931 non-null  float64
 41  SNF_Days_Total                   14948 non-null  float64
 42  SNF_Discharges_Title_Other       14750 non-null  float64
 43  SNF_Discharges_Title_XIX         12644 non-null  float64
 44  SNF_Discharges_Title_XVIII       14876 non-null  float64
 45  SNF_Discharges_Total             14917 non-null  float64
 46  SNF_Number_of_beds               14900 non-null  float64
 47  SNF_bed_Days_Available           14904 non-null  float64
 48  Salaries_wages_and_fees_payable  13785 non-null  float64
 49  Total_Assets                     14834 non-null  float64
 50  Total_Bed_Days_Available         14904 non-null  float64
 51  Total_Costs                      14927 non-null  float64
 52  Total_Days_Other                 14917 non-null  float64
 53  Total_Days_Title_XIX             12964 non-null  float64
 54  Total_Days_Title_XVIII           14931 non-null  float64
 55  Total_Days_Total                 14949 non-null  float64
 56  Total_Discharges_Title_Other     14750 non-null  float64
 57  Total_Discharges_Title_XIX       12774 non-null  float64
 58  Total_Discharges_Title_XVIII     14876 non-null  float64
 59  Total_Discharges_Total           14919 non-null  float64
 60  Total_General_Inpatient_Revenue  14899 non-null  float64
 61  Total_Income                     14920 non-null  float64
 62  Total_Liab_and_fund_balances     14940 non-null  float64
 63  Total_RUG_Days                   14931 non-null  float64
 64  Total_Salaries_From_Worksheet_A  14950 non-null  float64
 65  Total_Salaries_adjusted          14950 non-null  float64
 66  Total_current_assets             14802 non-null  float64
 67  Total_current_liabilities        14774 non-null  float64
 68  Total_fixed_Assets               14096 non-null  float64
 69  Total_fund_balances              14918 non-null  float64
 70  Total_liabilities                14785 non-null  float64
 71  Total_other_Assets               10675 non-null  float64
 72  Wage_related_Costs_core          14857 non-null  float64
 73  Fixed_equipment                  6612 non-null   float64
dtypes: float64(61), int64(3), object(10)
memory usage: 8.7+ MB


Summary:
None


Data dimensions:
(15104, 74)


Null values:
rpt_rec_num                   0
Provider_CCN                  0
Facility_Name                 0
Street_Address                1
City                          0
                           ...
Total_fund_balances         490
Total_liabilities           605
Total_other_Assets         4462
Wage_related_Costs_core     520
Fixed_equipment            8648
Length: 74, dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15104 entries, 0 to 15103
Data columns (total 74 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   rpt_rec_num                      15104 non-null  int64
 1   Provider_CCN                     15104 non-null  int64
 2   Facility_Name                    15104 non-null  object
 3   Street_Address                   15103 non-null  object
 4   City                             15104 non-null  object
 5   State_Code                       15104 non-null  object
 6   Zip_Code                         15104 non-null  object
 7   County                           15104 non-null  object
 8   Medicare_CBSA_Number             14641 non-null  float64
 9   Rural_versus_Urban               14627 non-null  object
 10  Fiscal_Year_Begin_Date           14646 non-null  object
 11  Fiscal_Year_End_Date             14646 non-null  object
 12  Type_of_Control                  15104 non-null  int64
 13  Accounts_Receivable              14230 non-null  float64
 14  Accounts_payable                 14349 non-null  float64
 15  Buildings                        6450 non-null   float64
 16  Cash_on_hand_and_in_banks        14273 non-null  float64
 17  General_fund_balance             14614 non-null  float64
 18  Gross_Revenue                    14608 non-null  float64
 19  Inpatient_PPS_Amount             14626 non-null  float64
 20  Inpatient_Revenue                14608 non-null  float64
 21  Less_Total_Operating_Expense     14646 non-null  float64
 22  Less_discounts_on_patients       13594 non-null  float64
 23  Major_movable_equipment          10301 non-null  float64
 24  Net_Income                       14604 non-null  float64
 25  Net_Income_from_patients         14645 non-null  float64
 26  Net_Patient_Revenue              14609 non-null  float64
 27  Number_of_Beds                   14591 non-null  float64
 28  Other_Assets                     8582 non-null   float64
 29  Other_current_liabilities        11861 non-null  float64
 30  Overhead_Non_Salary_Costs        14646 non-null  float64
 31  SNF_Admissions_Other             14365 non-null  float64
 32  SNF_Admissions_Title_XIX         12466 non-null  float64
 33  SNF_Admissions_Title_XVIII       14514 non-null  float64
 34  SNF_Admissions_Total             14549 non-null  float64
 35  SNF_Average_Length_of_stay_Tot   14602 non-null  float64
 36  SNF_Average_Length_stay_XIX      12567 non-null  float64
 37  SNF_Average_Length_stay_XVIII    14566 non-null  float64
 38  SNF_Days_Other                   14509 non-null  float64
 39  SNF_Days_Title_XIX               12715 non-null  float64
 40  SNF_Days_Title_XVIII             14627 non-null  float64
 41  SNF_Days_Total                   14644 non-null  float64
 42  SNF_Discharges_Title_Other       14485 non-null  float64
 43  SNF_Discharges_Title_XIX         12579 non-null  float64
 44  SNF_Discharges_Title_XVIII       14568 non-null  float64
 45  SNF_Discharges_Total             14603 non-null  float64
 46  SNF_Number_of_beds               14588 non-null  float64
 47  SNF_bed_Days_Available           14588 non-null  float64
 48  Salaries_wages_and_fees_payable  13479 non-null  float64
 49  Total_Assets                     14533 non-null  float64
 50  Total_Bed_Days_Available         14588 non-null  float64
 51  Total_Costs                      14629 non-null  float64
 52  Total_Days_Other                 14607 non-null  float64
 53  Total_Days_Title_XIX             12835 non-null  float64
 54  Total_Days_Title_XVIII           14627 non-null  float64
 55  Total_Days_Total                 14646 non-null  float64
 56  Total_Discharges_Title_Other     14485 non-null  float64
 57  Total_Discharges_Title_XIX       12704 non-null  float64
 58  Total_Discharges_Title_XVIII     14568 non-null  float64
 59  Total_Discharges_Total           14604 non-null  float64
 60  Total_General_Inpatient_Revenue  14607 non-null  float64
 61  Total_Income                     14612 non-null  float64
 62  Total_Liab_and_fund_balances     14626 non-null  float64
 63  Total_RUG_Days                   14627 non-null  float64
 64  Total_Salaries_From_Worksheet_A  14645 non-null  float64
 65  Total_Salaries_adjusted          14645 non-null  float64
 66  Total_current_assets             14513 non-null  float64
 67  Total_current_liabilities        14491 non-null  float64
 68  Total_fixed_Assets               13737 non-null  float64
 69  Total_fund_balances              14614 non-null  float64
 70  Total_liabilities                14499 non-null  float64
 71  Total_other_Assets               10642 non-null  float64
 72  Wage_related_Costs_core          14584 non-null  float64
 73  Fixed_equipment                  6456 non-null   float64
dtypes: float64(62), int64(3), object(9)
memory usage: 8.5+ MB


Summary:
None


Data dimensions:
(15433, 74)


Null values:
rpt_rec_num                   0
Provider_CCN                  0
Facility_Name                 0
Street_Address                1
City                          0
                           ...
Total_fund_balances         320
Total_liabilities           404
Total_other_Assets         4457
Wage_related_Costs_core     341
Fixed_equipment            8701
Length: 74, dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15433 entries, 0 to 15432
Data columns (total 74 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   rpt_rec_num                      15433 non-null  int64
 1   Provider_CCN                     15433 non-null  int64
 2   Facility_Name                    15433 non-null  object
 3   Street_Address                   15432 non-null  object
 4   City                             15433 non-null  object
 5   State_Code                       15433 non-null  object
 6   Zip_Code                         15433 non-null  object
 7   County                           15433 non-null  object
 8   Medicare_CBSA_Number             15181 non-null  float64
 9   Rural_versus_Urban               15156 non-null  object
 10  Fiscal_Year_Begin_Date           15182 non-null  object
 11  Fiscal_Year_End_Date             15182 non-null  object
 12  Type_of_Control                  15433 non-null  int64
 13  Accounts_Receivable              14713 non-null  float64
 14  Accounts_payable                 14834 non-null  float64
 15  Buildings                        6587 non-null   float64
 16  Cash_on_hand_and_in_banks        14809 non-null  float64
 17  General_fund_balance             15113 non-null  float64
 18  Gross_Revenue                    15135 non-null  float64
 19  Inpatient_PPS_Amount             15168 non-null  float64
 20  Inpatient_Revenue                15135 non-null  float64
 21  Less_Total_Operating_Expense     15182 non-null  float64
 22  Less_discounts_on_patients       14143 non-null  float64
 23  Major_movable_equipment          10577 non-null  float64
 24  Net_Income                       15137 non-null  float64
 25  Net_Income_from_patients         15181 non-null  float64
 26  Net_Patient_Revenue              15135 non-null  float64
 27  Number_of_Beds                   15122 non-null  float64
 28  Other_Assets                     8774 non-null   float64
 29  Other_current_liabilities        12388 non-null  float64
 30  Overhead_Non_Salary_Costs        15182 non-null  float64
 31  SNF_Admissions_Other             14831 non-null  float64
 32  SNF_Admissions_Title_XIX         13181 non-null  float64
 33  SNF_Admissions_Title_XVIII       15011 non-null  float64
 34  SNF_Admissions_Total             15042 non-null  float64
 35  SNF_Average_Length_of_stay_Tot   15147 non-null  float64
 36  SNF_Average_Length_stay_XIX      13277 non-null  float64
 37  SNF_Average_Length_stay_XVIII    15102 non-null  float64
 38  SNF_Days_Other                   15036 non-null  float64
 39  SNF_Days_Title_XIX               13510 non-null  float64
 40  SNF_Days_Title_XVIII             15167 non-null  float64
 41  SNF_Days_Total                   15182 non-null  float64
 42  SNF_Discharges_Title_Other       14948 non-null  float64
 43  SNF_Discharges_Title_XIX         13291 non-null  float64
 44  SNF_Discharges_Title_XVIII       15107 non-null  float64
 45  SNF_Discharges_Total             15147 non-null  float64
 46  SNF_Number_of_beds               15120 non-null  float64
 47  SNF_bed_Days_Available           15119 non-null  float64
 48  Salaries_wages_and_fees_payable  13883 non-null  float64
 49  Total_Assets                     15061 non-null  float64
 50  Total_Bed_Days_Available         15119 non-null  float64
 51  Total_Costs                      15172 non-null  float64
 52  Total_Days_Other                 15142 non-null  float64
 53  Total_Days_Title_XIX             13636 non-null  float64
 54  Total_Days_Title_XVIII           15167 non-null  float64
 55  Total_Days_Total                 15182 non-null  float64
 56  Total_Discharges_Title_Other     14948 non-null  float64
 57  Total_Discharges_Title_XIX       13422 non-null  float64
 58  Total_Discharges_Title_XVIII     15107 non-null  float64
 59  Total_Discharges_Total           15147 non-null  float64
 60  Total_General_Inpatient_Revenue  15135 non-null  float64
 61  Total_Income                     15148 non-null  float64
 62  Total_Liab_and_fund_balances     15162 non-null  float64
 63  Total_RUG_Days                   15167 non-null  float64
 64  Total_Salaries_From_Worksheet_A  15182 non-null  float64
 65  Total_Salaries_adjusted          15182 non-null  float64
 66  Total_current_assets             15040 non-null  float64
 67  Total_current_liabilities        15016 non-null  float64
 68  Total_fixed_Assets               14227 non-null  float64
 69  Total_fund_balances              15113 non-null  float64
 70  Total_liabilities                15029 non-null  float64
 71  Total_other_Assets               10976 non-null  float64
 72  Wage_related_Costs_core          15092 non-null  float64
 73  Fixed_equipment                  6732 non-null   float64
dtypes: float64(62), int64(3), object(9)
memory usage: 8.7+ MB


Summary:
None


Data dimensions:
(15142, 74)


Null values:
rpt_rec_num                   0
Provider_CCN                  0
Facility_Name                 0
Street_Address                1
City                          0
                           ...
Total_fund_balances         321
Total_liabilities           407
Total_other_Assets         4513
Wage_related_Costs_core     344
Fixed_equipment            8491
Length: 74, dtype: int64


Duplicated values:
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15142 entries, 0 to 15141
Data columns (total 74 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   rpt_rec_num                      15142 non-null  int64
 1   Provider_CCN                     15142 non-null  int64
 2   Facility_Name                    15142 non-null  object
 3   Street_Address                   15141 non-null  object
 4   City                             15142 non-null  object
 5   State_Code                       15142 non-null  object
 6   Zip_Code                         15142 non-null  object
 7   County                           15142 non-null  object
 8   Medicare_CBSA_Number             14880 non-null  float64
 9   Rural_versus_Urban               14867 non-null  object
 10  Fiscal_Year_Begin_Date           14881 non-null  object
 11  Fiscal_Year_End_Date             14881 non-null  object
 12  Type_of_Control                  15142 non-null  int64
 13  Accounts_Receivable              14483 non-null  float64
 14  Accounts_payable                 14532 non-null  float64
 15  Buildings                        6104 non-null   float64
 16  Cash_on_hand_and_in_banks        14498 non-null  float64
 17  General_fund_balance             14821 non-null  float64
 18  Gross_Revenue                    14838 non-null  float64
 19  Inpatient_PPS_Amount             14868 non-null  float64
 20  Inpatient_Revenue                14838 non-null  float64
 21  Less_Total_Operating_Expense     14881 non-null  float64
 22  Less_discounts_on_patients       13907 non-null  float64
 23  Major_movable_equipment          10414 non-null  float64
 24  Net_Income                       14840 non-null  float64
 25  Net_Income_from_patients         14880 non-null  float64
 26  Net_Patient_Revenue              14838 non-null  float64
 27  Number_of_Beds                   14822 non-null  float64
 28  Other_Assets                     8732 non-null   float64
 29  Other_current_liabilities        12139 non-null  float64
 30  Overhead_Non_Salary_Costs        14881 non-null  float64
 31  SNF_Admissions_Other             14508 non-null  float64
 32  SNF_Admissions_Title_XIX         13033 non-null  float64
 33  SNF_Admissions_Title_XVIII       14688 non-null  float64
 34  SNF_Admissions_Total             14728 non-null  float64
 35  SNF_Average_Length_of_stay_Tot   14831 non-null  float64
 36  SNF_Average_Length_stay_XIX      13111 non-null  float64
 37  SNF_Average_Length_stay_XVIII    14781 non-null  float64
 38  SNF_Days_Other                   14730 non-null  float64
 39  SNF_Days_Title_XIX               13363 non-null  float64
 40  SNF_Days_Title_XVIII             14866 non-null  float64
 41  SNF_Days_Total                   14878 non-null  float64
 42  SNF_Discharges_Title_Other       14618 non-null  float64
 43  SNF_Discharges_Title_XIX         13129 non-null  float64
 44  SNF_Discharges_Title_XVIII       14782 non-null  float64
 45  SNF_Discharges_Total             14832 non-null  float64
 46  SNF_Number_of_beds               14821 non-null  float64
 47  SNF_bed_Days_Available           14822 non-null  float64
 48  Salaries_wages_and_fees_payable  13572 non-null  float64
 49  Total_Assets                     14768 non-null  float64
 50  Total_Bed_Days_Available         14822 non-null  float64
 51  Total_Costs                      14875 non-null  float64
 52  Total_Days_Other                 14826 non-null  float64
 53  Total_Days_Title_XIX             13481 non-null  float64

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3104868656.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cr_2015['year'] = 2015
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3104868656.py:133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cr_2016['year'] = 2016
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3104868656.py:134: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cr_2017['year'] = 2017
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3104868656.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cr_2018['year'] = 2018
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3104868656.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cr_2019['year'] = 2019
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3104868656.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cr_2020['year'] = 2020
C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3104868656.py:138: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cr_2021['year'] = 2021

provnum                                0
rural_versus_urban                  2187
accounts_receivable                 5038
cash_on_hand_and_in_banks           4567
gross_revenue                       2283
inpatient_revenue                   2284
less_total_operating_expense        2074
net_income                          2360
net_income_from_patients            2081
net_patient_revenue                 2279
overhead_non_salary_costs           2072
snf_days_total                      2092
salaries_wages_and_fees_payable    11260
total_liab_and_fund_balances        2190
total_salaries_adjusted             2073
total_fund_balances                 2434
total_liabilities                   3017
snf_admissions_total               31685
fiscal_period                       2072
year                                   0
dtype: int64

In [ ]:
# # check
# cost_report.shape
# cost_report.isnull().sum()
# cost_report['year'].value_counts()
# cost_report.isnull().sum()

year
2017    15433
2015    15402
2019    15182
2018    15142
2016    15104
2021    15057
2020    14949
Name: count, dtype: int64

## Annualize data
Since a provnum can have many cost reports a year, the following code annualize the numbers

In [ ]:

import pandas as pd
import numpy as np

def create_annual_cost_report(cost_report: pd.DataFrame) -> pd.DataFrame:
    """Creates an annual cost report with NaN handling during aggregation."""
    columns_to_adjust = cost_report.columns[2:18]
    cost_report = cost_report[cost_report['fiscal_period'] > 0]

    for col in columns_to_adjust:
        cost_report[col] = (cost_report[col] / cost_report['fiscal_period']) * 365

    # Custom aggregation function to handle NaNs correctly
    def nan_aware_mean(series):
        if series.isnull().all():
            return np.nan
        else:
            return series.mean()

    # Group and aggregate, using nan_aware_mean
    agg_dict = {col: nan_aware_mean for col in columns_to_adjust}
    agg_dict['rural_versus_urban'] = 'first'

    annual_report = cost_report.groupby(['provnum', 'year']).agg(agg_dict).reset_index()

    return annual_report

C:\Users\nhien\AppData\Local\Temp\ipykernel_10376\3335164198.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cost_report[col] = (cost_report[col] / cost_report['fiscal_period']) * 365

(99386, 19)

year
2017    14305
2018    14305
2019    14270
2020    14246
2021    14194
2016    14071
2015    13995
Name: count, dtype: int64

In [ ]:
# # check
# annual_report = create_annual_cost_report(cost_report)
# print(annual_report.shape)
# annual_report['year'].value_counts()
# annual_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99386 entries, 0 to 99385
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   provnum                          99386 non-null  object
 1   year                             99386 non-null  int64
 2   accounts_receivable              96672 non-null  float64
 3   cash_on_hand_and_in_banks        97146 non-null  float64
 4   gross_revenue                    99209 non-null  float64
 5   inpatient_revenue                99209 non-null  float64
 6   less_total_operating_expense     99384 non-null  float64
 7   net_income                       99142 non-null  float64
 8   net_income_from_patients         99380 non-null  float64
 9   net_patient_revenue              99213 non-null  float64
 10  overhead_non_salary_costs        99386 non-null  float64
 11  snf_days_total                   99371 non-null  float64
 12  salaries_wages_and_fees_payable  91126 non-null  float64
 13  total_liab_and_fund_balances     99277 non-null  float64
 14  total_salaries_adjusted          99385 non-null  float64
 15  total_fund_balances              99074 non-null  float64
 16  total_liabilities                98513 non-null  float64
 17  snf_admissions_total             70981 non-null  float64
 18  rural_versus_urban               99279 non-null  object
dtypes: float64(16), int64(1), object(2)
memory usage: 14.4+ MB

If fiscal_report is null, all numerical variables of that row is also null. Therefore, it is safe to drop them in the code above:
```
    cost_report = cost_report[cost_report['fiscal_period'] > 0]
```
The following code proves so. Since they are not essential for data cleansing, they are commented out. Uncomment to see the results.

In [145]:
# Define numerical columns (cols 2–16) — adjust this if needed
columns_to_adjust = cost_report.columns[2:18]

# 1. Count nulls before filtering
nulls_before = cost_report[columns_to_adjust].isnull().sum()

# 2. Remove rows with invalid fiscal_period
filtered_cost_report = cost_report.dropna(subset=['fiscal_period'])
filtered_cost_report = filtered_cost_report[filtered_cost_report['fiscal_period'] > 0]

# 3. Count nulls after filtering
nulls_after = filtered_cost_report[columns_to_adjust].isnull().sum()

# 4. Calculate difference
nulls_removed_with_fiscal_period = nulls_before - nulls_after

# Display comparison
comparison_df = pd.DataFrame({
    'Nulls Before': nulls_before,
    'Nulls After': nulls_after,
    'Difference (Removed Nulls)': nulls_removed_with_fiscal_period
})

print(comparison_df)

# Optional: Total number of rows removed
rows_removed = cost_report.shape[0] - filtered_cost_report.shape[0]
print(f"\nTotal rows removed due to invalid fiscal_period: {rows_removed}")

                                 Nulls Before  Nulls After  \
accounts_receivable                      5038         2966
cash_on_hand_and_in_banks                4567         2495
gross_revenue                            2283          211
inpatient_revenue                        2284          212
less_total_operating_expense             2074            2
net_income                               2360          288
net_income_from_patients                 2081            9
net_patient_revenue                      2279          207
overhead_non_salary_costs                2072            0
snf_days_total                           2092           20
salaries_wages_and_fees_payable         11260         9188
total_liab_and_fund_balances             2190          118
total_salaries_adjusted                  2073            1
total_fund_balances                      2434          362
total_liabilities                        3017          945
snf_admissions_total                    31685        29613

                                 Difference (Removed Nulls)
accounts_receivable                                    2072
cash_on_hand_and_in_banks                              2072
gross_revenue                                          2072
inpatient_revenue                                      2072
less_total_operating_expense                           2072
net_income                                             2072
net_income_from_patients                               2072
net_patient_revenue                                    2072
overhead_non_salary_costs                              2072
snf_days_total                                         2072
salaries_wages_and_fees_payable                        2072
total_liab_and_fund_balances                           2072
total_salaries_adjusted                                2072
total_fund_balances                                    2072
total_liabilities                                      2072
snf_admissions_total                                   2072

Total rows removed due to invalid fiscal_period: 2072

The following code further proves that the new number of rows is valid. Uncomment to see.

In [ ]:
# # 1. Unique provnum-year pairs in the original data
# original_pairs = cost_report[['provnum', 'year']]
# original_unique_pairs = original_pairs.dropna().drop_duplicates()
# num_original_pairs = original_unique_pairs.shape[0]
# print(f"Original unique (provnum, year) pairs: {num_original_pairs}")

# # 2. Drop rows with bad fiscal_period and track which ones
# filtered = cost_report.dropna(subset=['fiscal_period', 'year'])
# filtered = filtered[filtered['fiscal_period'] > 0]

# filtered_unique_pairs = filtered[['provnum', 'year']].drop_duplicates()
# num_filtered_pairs = filtered_unique_pairs.shape[0]
# print(f"Remaining unique (provnum, year) pairs after valid fiscal_period filter: {num_filtered_pairs}")

# # 3. Confirm drop count
# num_dropped = num_original_pairs - num_filtered_pairs
# print(f"Number of (provnum, year) combinations dropped: {num_dropped}")

# # 4. Optionally: Show which combinations were dropped
# dropped_pairs = pd.merge(original_unique_pairs, filtered_unique_pairs, 
#                          on=['provnum', 'year'], how='left', indicator=True)
# dropped_pairs = dropped_pairs[dropped_pairs['_merge'] == 'left_only']
# print(f"\nSample dropped pairs due to invalid fiscal_period:\n{dropped_pairs[['provnum', 'year']].head()}")

Original unique (provnum, year) pairs: 101290
Remaining unique (provnum, year) pairs after valid fiscal_period filter: 99386
Number of (provnum, year) combinations dropped: 1904

Sample dropped pairs due to invalid fiscal_period:
    provnum  year
184  525716  2015
185  525718  2015
186  525719  2015
187  175443  2015
191  245578  2015

### join with provider_info & back-fill

In [ ]:
def left_join_with_provider_info(annual_report: pd.DataFrame, provider_info: pd.DataFrame) -> pd.DataFrame:
    """Performs a left join with provider_info and counts missing rows."""
    merged = pd.merge(annual_report, provider_info, on=['provnum', 'year'], how='left')
    provider_columns = [col for col in provider_info.columns if col not in ['provnum', 'year']]
    missing_provider_info = merged[provider_columns].isnull().all(axis=1).sum()
    print(f"Number of rows in annual_report without matching provider_info by provnum & year: {missing_provider_info}")
    return merged

merged_data = left_join_with_provider_info(annual_report, provider_info)

def backfill_provider_info(merged_data: pd.DataFrame, provider_info: pd.DataFrame) -> pd.DataFrame:
    """Backfills missing provider_info using a lookup table."""
    provider_columns = [col for col in provider_info.columns if col not in ['provnum', 'year']]
    provnum_lookup = provider_info.sort_values('year').drop_duplicates('provnum')[['provnum'] + provider_columns]
    merged_with_lookup = pd.merge(merged_data, provnum_lookup, on='provnum', how='left', suffixes=('', '_lookup'))
    for col in provider_columns:
        merged_with_lookup[col] = merged_with_lookup[col].combine_first(merged_with_lookup[f"{col}_lookup"])
        merged_with_lookup.drop(columns=[f"{col}_lookup"], inplace=True)
    return merged_with_lookup

merged_filled = backfill_provider_info(merged_data, provider_info)

Number of rows in annual_report without matching provider_info by provnum & year: 306
Total rows still unmatched by provnum: 36

,provnum,year,accounts_receivable,cash_on_hand_and_in_banks,gross_revenue,inpatient_revenue,less_total_operating_expense,net_income,net_income_from_patients,net_patient_revenue,overhead_non_salary_costs,snf_days_total,salaries_wages_and_fees_payable,total_liab_and_fund_balances,total_salaries_adjusted,total_fund_balances,total_liabilities,snf_admissions_total,rural_versus_urban,provname,state,address,city,zip,ownership,restot,overall_rating,survey_rating,quality_rating,staffing_rating,adj_total
1467,015462,2015,489631,8150,4678692,4678692,4430379,-1345434,-1346342,3084037,2258291,9801,77411,-1382587,2172088,-2283504,900917,139,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1468,015462,2016,439443,-15327,3589981,3589981,3912985,-1287130,-1287343,2625642,2078666,8086,59087,-2393267,1834319,-3576914,1183647,97,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2146,035209,2015,1811816,1110959,2005581,2005581,6153315,-4312947,-4336515,1816800,3826314,1586,84340,11508249,2011792,-10891845,22400094,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4029,055010,2015,3298810,-407741,5913237,5913237,5514745,-23861,-20653,5494092,3456819,22542,354431,8647159,2057926,7622443,1024715,293,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7754,056343,2015,1734878,-976953,2950812,2950812,3350351,-491860,-523057,2827294,2132757,18508,538076,4299638,1217595,-4209483,8509122,78,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9669,065428,2018,1703602,444641,4078952,4078952,12720675,-9477095,-9502965,3217710,8658628,6893,406419,1646912,4062047,-13569991,15216903,334,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16269,106141,2020,324044,1456,13113586,13113586,8115922,4160229,4158850,12274771,5955413,7806,-8668,18715126,2160509,4160229,14554896,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18526,115775,2021,971847,8600740,2443422,2427833,12694924,-10250651,-10379156,2315768,9344219,4759,179180,78873423,3350705,27147136,51726287,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29271,165422,2015,1285286,293976,2321323,2321323,2283342,-161332,-175797,2107545,1217907,14154,159752,1600721,1065435,1130664,470057,68,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30452,165790,2021,293893,1914277,3751713,3751713,6584107,-2698095,-3023417,3560691,4309033,4846,446377,67985069,2275075,13773035,54212035,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39535,225441,2015,866133,7508,8455159,8455159,5457824,-415649,-415649,5042176,2820682,21445,118291,-1685119,2637142,-2371125,686006,133,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44347,245294,2015,159583,102336,1637942,1619189,2080858,-582720,-611214,1469643,1049616,6813,327889,3684544,1031242,-2181887,5866431,41,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48449,265490,2015,1005741,-167,9743389,9743389,12576815,-5769706,-5769875,6806940,9179010,29808,180988,-910464,3397805,-1385270,474806,188,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55792,325134,2020,3478356,12828960,3271066,3206533,30092495,5819904,-26927188,3165306,15410392,1413,1358314,80950039,14682102,37500813,43449226,15,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56780,335293,2015,151098,970268,6462647,6462647,8694702,-5051674,-4930767,3763935,5872666,18492,219896,2149868,2822036,-11296581,13446450,86,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58472,335670,2015,9856552,1641177,33023310,32297449,24497987,-4196785,-4249600,20248387,15370791,24028,2239711,78548424,9127196,9615839,68932585,196,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61100,345374,2015,1181478,332661,4916194,4916194,4941750,-1024835,-1161546,3780205,2866947,12018,246551,3832816,2074803,-6445438,10278254,131,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69119,366488,2021,1036038,-121165,2088048,2088048,4158160,-2038525,-2365477,1792683,2121471,3895,160939,962118,2036689,-2407996,3370114,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71081,375578,2020,NaN,NaN,2733058,2733058,976310,1756748,1756748,2733058,258300,1835,NaN,NaN,718010,NaN,NaN,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72183,395102,2015,33102,500,2241451,2241451,2742681,-938856,-989316,1753365,1204284,8120,46088,84314,1538398,-6450418,6534731,44,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83754,495175,2015,204008,265411,4105075,4105075,3938165,2948285,-886639,3051527,2118316,14846,20647,3578723,1819849,2134549,1444174,83,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83986,495223,2015,1513702,2912,14928108,14928108,13789292,-2498945,-2501048,11288244,8236178,66164,902245,51010701,5553114,-914346,51925048,454,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85136,495428,2021,453867,97951,2591788,2591788,4285292,-1620790,-1649039,2636253,2595719,NaN,81501,-909847,1689573,-1620790,710943,59,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85137,495429,2021,235189,-73803,11663628,11663628,4937196,-163554,-336822,4600374,2508302,NaN,154188,5003424,2428894,4599652,403772,32,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85138,495430,2021,1032182,-45925,17362111,17362111,6980608,-135815,-499979,6480629,3705127,NaN,226627,6341672,3275481,5938270,403402,55,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85646,505286,2015,540663,632,6359746,6359746,5019591,-430491,-455488,4564102,3121254,16608,176910,1799870,1898337,1533597,266273,131,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89468,525703,2015,3263723,6437337,2922711,2922711,1561322,-206825,-244288,1317034,714788,2271,1310378,47586950,846534,26602640,20984310,487,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89556,525731,2021,615813,290392,4223972,4216908,3876782,265295,233306,4110089,1728947,14540,93119,829122,2147835,246330,582792,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92802,555920,2020,468904,1127311,4169121,4169121,4921848,-178866,-524049,4397799,2205396,15431,199120,2500664,2716452,-670641,3171305,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92803,555920,2021,1157624,687330,4643969,4643969,4817655,96293,18539,4836194,2189919,14553,341662,3666082,2627736,-576191,4242273,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94792,675590,2015,521316,-451712,1281288,1281288,1262073,-32144,-38965,1223108,657115,7403,144771,340428,604958,-21929,362357,37,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97233,676106,2015,185732,1276,2557869,2339841,2645585,-434954,-436934,2208651,1371276,7948,-2294,268210,1274309,-3655809,3924018,44,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98591,676330,2015,1681794,2039742,7619963,7619963,7476400,-576509,-603897,6872504,3777373,7341,616238,58474776,3699028,8563082,49911694,268,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99356,676484,2020,961069,685086,4441548,4441548,5421336,-1031161,-979789,4441548,3150651,14946,NaN,1800562,2270686,-6408894,8209457,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99357,676484,2021,901073,247155,6382759,6382759,5876462,500811,506297,6382759,2972165,25057,104099,1456307,2904297,674798,781509,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99384,745000,2021,2046937,1064610,4893876,4893876,5214328,-1258474,-1310338,3903990,3737996,14884,119307,3619786,1476332,-3407625,7027411,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The rows that are still left unmatched are shown below. Uncomment to see. 
Not necessary to include since they cannot be identifiable.

In [ ]:
def get_unmatched_rows_by_provname(merged_data: pd.DataFrame) -> pd.DataFrame:
    """Returns rows where provname is still missing."""
    unmatched_rows = merged_data[merged_data['provname'].isnull()]
    print(f"Total rows still unmatched by provnum: {len(unmatched_rows)}")
    return unmatched_rows

unmatched_rows = get_unmatched_rows_by_provname(merged_filled)
from IPython.display import display
display(unmatched_rows)

In [ ]:
# Final 

cost_report_provider_info= merged_filled.dropna(subset=['provname'])
print(cost_report_provider_info.shape)

(99350, 31)

## Export

Uncomment to save them to local machine.

In [ ]:
## Save to CSV
# health_deficiency.to_csv('health_deficiencies.csv', index=False, encoding='utf-8')
# quality.to_csv('quality.csv', index=False, encoding='utf-8')
# penalties.to_csv('penalties.csv', index=False, encoding='utf-8')
# cost_report_provider_info.to_csv('cost_report_provider_info.csv', index=False, encoding='utf-8')